NET "CLK_BRD" TNM_NET = "TNM_CLK_BRD";
TIMESPEC "TS_CLK_BRD" = PERIOD "TNM_CLK_BRD" 30 Mhz HIGH 50%;
NET "CLK_BRD"            LOC=AE13 ;
NET "CLK_REF"            LOC=K14 ;
NET "ETH_COL"            LOC=G1 ;
NET "ETH_CRS"            LOC=A5 ;
NET "ETH_MDC"            LOC=B2 ;
NET "ETH_MDIO"           LOC=D3 ;
NET "ETH_RESETB_E"       LOC=E4 ;
NET "ETH_RXC"            LOC=B14 ;
NET "ETH_RXD<0>"         LOC=C1 ;
NET "ETH_RXD<1>"         LOC=D2 ;
NET "ETH_RXD<2>"         LOC=D1 ;
NET "ETH_RXD<3>"         LOC=G5 ;
NET "ETH_RXDV"           LOC=C2 ;
NET "ETH_RXER"           LOC=A7 ;
NET "ETH_TXC"            LOC=H4 ;
NET "ETH_TXD<0>"         LOC=F4 ;
NET "ETH_TXD<1>"         LOC=E1 ;
NET "ETH_TXD<2>"         LOC=G6 ;
NET "ETH_TXD<3>"         LOC=F5 ;
NET "ETH_TXEN"           LOC=F3 ;
NET "JTAG_NEXUS_TCK"     LOC=AF14 ;
NET "JTAG_NEXUS_TDI"     LOC=AA19 ;
NET "JTAG_NEXUS_TDO"     LOC=AC20 ;
NET "JTAG_NEXUS_TMS"     LOC=AB20 ;
NET "SRAM0_A<0>"         LOC=J12 ;
NET "SRAM0_A<1>"         LOC=F14 ;
NET "SRAM0_A<2>"         LOC=F15 ;
NET "SRAM0_A<3>"         LOC=G17 ;
NET "SRAM0_A<4>"         LOC=B19 ;
NET "SRAM0_A<5>"         LOC=K21 ;
NET "SRAM0_A<6>"         LOC=K23 ;
NET "SRAM0_A<7>"         LOC=L9 ;
NET "SRAM0_A<8>"         LOC=M18 ;
NET "SRAM0_A<9>"         LOC=N9 ;
NET "SRAM0_A<10>"        LOC=M20 ;
NET "SRAM0_A<11>"        LOC=L18 ;
NET "SRAM0_A<12>"        LOC=L17 ;
NET "SRAM0_A<13>"        LOC=J23 ;
NET "SRAM0_A<14>"        LOC=J19 ;
NET "SRAM0_A<15>"        LOC=B15 ;
NET "SRAM0_A<16>"        LOC=G12 ;
NET "SRAM0_A<17>"        LOC=F12 ;
NET "SRAM0_A<18>"        LOC=H21 ;
NET "SRAM0_D<0>"         LOC=D21 ;
NET "SRAM0_D<1>"         LOC=B23 ;
NET "SRAM0_D<2>"         LOC=C21 ;
NET "SRAM0_D<3>"         LOC=D17 ;
NET "SRAM0_D<4>"         LOC=C26 ;
NET "SRAM0_D<5>"         LOC=G20 ;
NET "SRAM0_D<6>"         LOC=F22 ;
NET "SRAM0_D<7>"         LOC=G22 ;
NET "SRAM0_D<8>"         LOC=G21 ;
NET "SRAM0_D<9>"         LOC=E26 ;
NET "SRAM0_D<10>"        LOC=D26 ;
NET "SRAM0_D<11>"        LOC=D24 ;
NET "SRAM0_D<12>"        LOC=H10 ;
NET "SRAM0_D<13>"        LOC=B18 ;
NET "SRAM0_D<14>"        LOC=E21 ;
NET "SRAM0_D<15>"        LOC=F19 ;
NET "SRAM0_UB"           LOC=G15 ;
NET "SRAM0_LB"           LOC=E17 ;
NET "SRAM0_E"            LOC=C20 ;
NET "SRAM0_OE"           LOC=E14 ;
NET "SRAM0_W"            LOC=J20 ;
NET "SRAM1_A<0>"         LOC=D16 ;
NET "SRAM1_A<1>"         LOC=D18 ;
NET "SRAM1_A<2>"         LOC=A20 ;
NET "SRAM1_A<3>"         LOC=D20 ;
NET "SRAM1_A<4>"         LOC=F20 ;
NET "SRAM1_A<5>"         LOC=K18 ;
NET "SRAM1_A<6>"         LOC=M22 ;
NET "SRAM1_A<7>"         LOC=N19 ;
NET "SRAM1_A<8>"         LOC=N17 ;
NET "SRAM1_A<9>"         LOC=N18 ;
NET "SRAM1_A<10>"        LOC=N20 ;
NET "SRAM1_A<11>"        LOC=M23 ;
NET "SRAM1_A<12>"        LOC=M21 ;
NET "SRAM1_A<13>"        LOC=L20 ;
NET "SRAM1_A<14>"        LOC=K22 ;
NET "SRAM1_A<15>"        LOC=F17 ;
NET "SRAM1_A<16>"        LOC=H15 ;
NET "SRAM1_A<17>"        LOC=E15 ;
NET "SRAM1_A<18>"        LOC=K19 ;
NET "SRAM1_D<0>"         LOC=J16 ;
NET "SRAM1_D<1>"         LOC=G19 ;
NET "SRAM1_D<2>"         LOC=C23 ;
NET "SRAM1_D<3>"         LOC=H17 ;
NET "SRAM1_D<4>"         LOC=K16 ;
NET "SRAM1_D<5>"         LOC=H20 ;
NET "SRAM1_D<6>"         LOC=F23 ;
NET "SRAM1_D<7>"         LOC=K9 ;
NET "SRAM1_D<8>"         LOC=G23 ;
NET "SRAM1_D<9>"         LOC=F24 ;
NET "SRAM1_D<10>"        LOC=E24 ;
NET "SRAM1_D<11>"        LOC=D25 ;
NET "SRAM1_D<12>"        LOC=A18 ;
NET "SRAM1_D<13>"        LOC=C22 ;
NET "SRAM1_D<14>"        LOC=D23 ;
NET "SRAM1_D<15>"        LOC=D22 ;
NET "SRAM1_UB"           LOC=B20 ;
NET "SRAM1_LB"           LOC=B21 ;
NET "SRAM1_E"            LOC=K11 ;
NET "SRAM1_OE"           LOC=A19 ;
NET "SRAM1_W"            LOC=K20 ;
NET "TEST_BUTTON"        LOC=AD12 ;
NET "BUS_A<1>"           LOC=AD15 ;
NET "BUS_A<2>"           LOC=A12 ;
NET "BUS_A<3>"           LOC=A15 ;
NET "BUS_A<4>"           LOC=C15 ;
NET "BUS_A<5>"           LOC=C16 ;
NET "BUS_A<6>"           LOC=C18 ;
NET "BUS_A<7>"           LOC=J21 ;
NET "BUS_A<8>"           LOC=J25 ;
NET "BUS_A<9>"           LOC=K25 ;
NET "BUS_A<10>"          LOC=M1 ;
NET "BUS_A<11>"          LOC=M25 ;
NET "BUS_A<12>"          LOC=AE26 ;
NET "BUS_A<13>"          LOC=M26 ;
NET "BUS_A<14>"          LOC=L24 ;
NET "BUS_A<15>"          LOC=AB23 ;
NET "BUS_A<16>"          LOC=Y20 ;
NET "BUS_A<17>"          LOC=AB12 ;
NET "BUS_A<18>"          LOC=C17 ;
NET "BUS_A<19>"          LOC=B17 ;
NET "BUS_A<20>"          LOC=J26 ;
NET "BUS_A<21>"          LOC=J22 ;
NET "BUS_A<22>"          LOC=L22 ;
NET "BUS_A<23>"          LOC=N24 ;
NET "BUS_A<24>"          LOC=N21 ;
NET "BUS_D<0>"           LOC=P25 ;
NET "BUS_D<1>"           LOC=R26 ;
NET "BUS_D<2>"           LOC=R18 ;
NET "BUS_D<3>"           LOC=R17 ;
NET "BUS_D<4>"           LOC=T23 ;
NET "BUS_D<5>"           LOC=U23 ;
NET "BUS_D<6>"           LOC=U24 ;
NET "BUS_D<7>"           LOC=G24 ;
NET "BUS_D<8>"           LOC=K26 ;
NET "BUS_D<9>"           LOC=T24 ;
NET "BUS_D<10>"          LOC=R21 ;
NET "BUS_D<11>"          LOC=R22 ;
NET "BUS_D<12>"          LOC=R25 ;
NET "BUS_D<13>"          LOC=P20 ;
NET "BUS_D<14>"          LOC=P22 ;
NET "BUS_D<15>"          LOC=P26 ;
NET "BUS_D<16>"          LOC=P18 ;
NET "BUS_D<17>"          LOC=P6 ;
NET "BUS_D<18>"          LOC=T18 ;
NET "BUS_D<19>"          LOC=T17 ;
NET "BUS_D<20>"          LOC=U21 ;
NET "BUS_D<21>"          LOC=V23 ;
NET "BUS_D<22>"          LOC=V24 ;
NET "BUS_D<23>"          LOC=Y25 ;
NET "BUS_D<24>"          LOC=F25 ;
NET "BUS_D<25>"          LOC=U20 ;
NET "BUS_D<26>"          LOC=U22 ;
NET "BUS_D<27>"          LOC=T20 ;
NET "BUS_D<28>"          LOC=R19 ;
NET "BUS_D<29>"          LOC=R20 ;
NET "BUS_D<30>"          LOC=P21 ;
NET "BUS_D<31>"          LOC=P23 ;
NET "BUS_FLASH_NBUSY"    LOC=B26 ;
NET "BUS_FLASH_NCS"      LOC=C25 ;
NET "BUS_FLASH_NRESET"   LOC=M19 ;
NET "BUS_USB_DACK"       LOC=AF12 ;
NET "BUS_USB_DREQ"       LOC=AF17 ;
NET "BUS_USB_NCS"        LOC=AA12 ;
NET "BUS_USB_NIRQ"       LOC=AF15 ;
NET "BUS_USB_NRESET"     LOC=AF9 ;
NET "BUS_NBE<0>"         LOC=U19 ;
NET "BUS_NBE<1>"         LOC=A22 ;
NET "BUS_NBE<2>"         LOC=AA25 ;
NET "BUS_NBE<3>"         LOC=V25 ;
NET "BUS_NOE"            LOC=AD11 ;
NET "BUS_NWE"            LOC=M3 ;
NET "BUS_SDRAM_CKE"      LOC=V22 ;
NET "BUS_SDRAM_CLK"      LOC=F13 ;
NET "BUS_SDRAM_FEEDBACK" LOC=AA14 ;
NET "BUS_SDRAM_NCAS"     LOC=AA24 ;
NET "BUS_SDRAM_NCS"      LOC=W20 ;
NET "BUS_SDRAM_NRAS"     LOC=AA22 ;
NET "BUS_RAM_NCS"        LOC=D13 ;
NET "BUS_SDRAM_CLK_IN"   LOC=Y14 ;
NET "RS_CTS"             LOC=J2 ;
NET "RS_RTS"             LOC=E3 ;
NET "RS_RX"              LOC=G2 ;
NET "RS_TX"              LOC=B1 ;
NET "SW<0>"              LOC=AB6 ;
NET "SW<1>"              LOC=AC7 ;
NET "SW<2>"              LOC=AA9 ;
NET "SW<3>"              LOC=AF7 ;
NET "SW<4>"              LOC=AD9 ;
NET "SW<5>"              LOC=AB10 ;
NET "SW<6>"              LOC=AC10 ;
NET "SW<7>"              LOC=AD10 ;
NET "SW_USER<0>"         LOC=K1 ;
NET "SW_USER<1>"         LOC=U3 ;
NET "SW_USER<2>"         LOC=W2 ;
NET "SW_USER<3>"         LOC=V4 ;
NET "SW_USER<4>"         LOC=W1 ;
NET "SW_USER0"           LOC=K1 ;
NET "SW_USER1"           LOC=U3 ;
NET "SW_USER2"           LOC=W2 ;
NET "SW_USER3"           LOC=V4 ;
NET "SW_USER4"           LOC=W1 ;
NET "HA2"                LOC=M6 ;
NET "HA3"                LOC=N7 ;
NET "HA4"                LOC=M8 ;
NET "HA5"                LOC=N6 ;
NET "HA6"                LOC=L4 ;
NET "HA7"                LOC=M2 ;
NET "HA8"                LOC=L7 ;
NET "HA9"                LOC=M4 ;
NET "HA10"               LOC=K4 ;
NET "HA11"               LOC=M9 ;
NET "HA12"               LOC=K7 ;
NET "HA13"               LOC=M7 ;
NET "HA14"               LOC=K2 ;
NET "HA15"               LOC=M5 ;
NET "HA16"               LOC=K5 ;
NET "HA17"               LOC=M10 ;
NET "HA18"               LOC=K6 ;
NET "HA19"               LOC=L3 ;
NET "HB2"                LOC=J6 ;
NET "HB3"                LOC=K3 ;
NET "HB4"                LOC=J8 ;
NET "HB5"                LOC=K8 ;
NET "HB6"                LOC=H6 ;
NET "HB7"                LOC=J4 ;
NET "HB8"                LOC=G4 ;
NET "HB9"                LOC=J5 ;
NET "HB10"               LOC=P7 ;
NET "HB11"               LOC=H1 ;
NET "HB12"               LOC=N5 ;
NET "HB13"               LOC=N2 ;
NET "HB14"               LOC=N4 ;
NET "HB15"               LOC=N1 ;
NET "HB16"               LOC=P9 ;
NET "HB17"               LOC=P4 ;
NET "HB18"               LOC=R4 ;
NET "HB19"               LOC=R10 ;
NET "IO<0>"              LOC=M6 ;
NET "IO<1>"              LOC=N7 ;
NET "IO<2>"              LOC=M8 ;
NET "IO<3>"              LOC=N6 ;
NET "IO<4>"              LOC=L4 ;
NET "IO<5>"              LOC=M2 ;
NET "IO<6>"              LOC=L7 ;
NET "IO<7>"              LOC=M4 ;
NET "IO<8>"              LOC=K4 ;
NET "IO<9>"              LOC=M9 ;
NET "IO<10>"             LOC=K7 ;
NET "IO<11>"             LOC=M7 ;
NET "IO<12>"             LOC=K2 ;
NET "IO<13>"             LOC=M5 ;
NET "IO<14>"             LOC=K5 ;
NET "IO<15>"             LOC=M10 ;
NET "IO<16>"             LOC=K6 ;
NET "IO<17>"             LOC=L3 ;
NET "IO<18>"             LOC=J6 ;
NET "IO<19>"             LOC=K3 ;
NET "IO<20>"             LOC=J8 ;
NET "IO<21>"             LOC=K8 ;
NET "IO<22>"             LOC=H6 ;
NET "IO<23>"             LOC=J4 ;
NET "IO<24>"             LOC=G4 ;
NET "IO<25>"             LOC=J5 ;
NET "IO<26>"             LOC=P7 ;
NET "IO<27>"             LOC=H1 ;
NET "IO<28>"             LOC=N5 ;
NET "IO<29>"             LOC=N2 ;
NET "IO<30>"             LOC=N4 ;
NET "IO<31>"             LOC=N1 ;
NET "IO<32>"             LOC=P9 ;
NET "IO<33>"             LOC=P4 ;
NET "IO<34>"             LOC=R4 ;
NET "IO<35>"             LOC=R10 ;
NET "VGA_BLUE<0>"        LOC=K12 ;
NET "VGA_BLUE<1>"        LOC=D11 ;
NET "VGA_BLUE<2>"        LOC=J11 ;
NET "VGA_BLUE<3>"        LOC=A10 ;
NET "VGA_BLUE<4>"        LOC=B10 ;
NET "VGA_BLUE<5>"        LOC=D10 ;
NET "VGA_BLUE<6>"        LOC=G10 ;
NET "VGA_BLUE<7>"        LOC=E10 ;
NET "VGA_CLK"            LOC=C5 ;
NET "VGA_GREEN<0>"       LOC=D8 ;
NET "VGA_GREEN<1>"       LOC=C8 ;
NET "VGA_GREEN<2>"       LOC=F8 ;
NET "VGA_GREEN<3>"       LOC=B7 ;
NET "VGA_GREEN<4>"       LOC=E7 ;
NET "VGA_GREEN<5>"       LOC=F7 ;
NET "VGA_GREEN<6>"       LOC=D6 ;
NET "VGA_GREEN<7>"       LOC=G8 ;
NET "VGA_HSYNC"          LOC=C11 ;
NET "VGA_RED<0>"         LOC=A9 ;
NET "VGA_RED<1>"         LOC=B9 ;
NET "VGA_RED<2>"         LOC=D9 ;
NET "VGA_RED<3>"         LOC=G9 ;
NET "VGA_RED<4>"         LOC=A8 ;
NET "VGA_RED<5>"         LOC=J9 ;
NET "VGA_RED<6>"         LOC=H9 ;
NET "VGA_RED<7>"         LOC=B8 ;
NET "VGA_VSYNC"          LOC=H12 ;
NET "PS2B_CLK"           LOC=AB7 ;
NET "PS2B_DATA"          LOC=AC8 ;
NET "PS2A_CLK"           LOC=AB9 ;
NET "PS2A_DATA"          LOC=W7 ;
NET "AUDIO_I2S_BCLK"     LOC=J14 ;
NET "AUDIO_I2S_DOUT"     LOC=T10 ;
NET "AUDIO_I2S_DIN"      LOC=AB4 ;
NET "AUDIO_I2S_MCLK"     LOC=G13 ;
NET "AUDIO_I2S_WCLK"     LOC=AF13 ;
NET "CODECSPI_CLK"       LOC=A14 ;
NET "CODECSPI_CS"        LOC=AE9 ;
NET "CODECSPI_DOUT"      LOC=T4 ;
NET "CODECSPI_DIN"       LOC=AE2 ;
NET "SD_CLK"             LOC=AA13 ;
NET "SD_CMD"             LOC=V12 ;
NET "SD_DAT<0>"          LOC=V16 ;
NET "SD_DAT<1>"          LOC=V18 ;
NET "SD_DAT<2>"          LOC=V13 ;
NET "SD_DAT<3>"          LOC=U11 ;
NET "SD_COMMAND"         LOC=V12 ;
NET "SD_DATA<0>"         LOC=V16 ;
NET "SD_DATA<1>"         LOC=V18 ;
NET "SD_DATA<2>"         LOC=V13 ;
NET "SD_DATA<3>"         LOC=U11 ;
NET "SD_DETECT"          LOC=AC13 ;
NET "SD_PROTECT"         LOC=AB13 ;
NET "ONE_WIRE"           LOC=R2 ;
NET "SPI_CLK"            LOC=AE14 ;
NET "SPI_DOUT"           LOC=AD21 ;
NET "SPI_DIN"            LOC=Y26 ;
NET "SPI_MODE"           LOC=AF25 ;
NET "SPI_SEL"            LOC=AE23 ;
NET "PBA<0>"             LOC=AC6 ;
NET "PBA<1>"             LOC=AF10 ;
NET "PBA<2>"             LOC=AF8 ;
NET "PBA<3>"             LOC=R6 ;
NET "PBA<4>"             LOC=AE8 ;
NET "PBA<5>"             LOC=AD7 ;
NET "PBA<6>"             LOC=AD6 ;
NET "PBA<7>"             LOC=AE7 ;
NET "PBA<8>"             LOC=AE6 ;
NET "PBA<9>"             LOC=AF5 ;
NET "PBA<10>"            LOC=AC2 ;
NET "PBA<11>"            LOC=AF4 ;
NET "PBA<12>"            LOC=AE4 ;
NET "PBA<13>"            LOC=AF3 ;
NET "PBA<14>"            LOC=AB1 ;
NET "PBA<15>"            LOC=AA7 ;
NET "PBA<16>"            LOC=Y5 ;
NET "PBA<17>"            LOC=AE3 ;
NET "PBA<18>"            LOC=AD2 ;
NET "PBA<19>"            LOC=AD1 ;
NET "PBA<20>"            LOC=AC3 ;
NET "PBA<21>"            LOC=AC1 ;
NET "PBA<22>"            LOC=AA2 ;
NET "PBA<23>"            LOC=Y6 ;
NET "PBA<24>"            LOC=W6 ;
NET "PBA<25>"            LOC=V8 ;
NET "PBA<26>"            LOC=AA3 ;
NET "PBA<27>"            LOC=Y2 ;
NET "PBA<28>"            LOC=Y1 ;
NET "PBA<29>"            LOC=W3 ;
NET "PBA<30>"            LOC=W4 ;
NET "PBA<31>"            LOC=V6 ;
NET "PBA<32>"            LOC=V7 ;
NET "PBA<33>"            LOC=U8 ;
NET "PBA<34>"            LOC=U9 ;
NET "PBA<35>"            LOC=V2 ;
NET "PBA<36>"            LOC=V1 ;
NET "PBA<37>"            LOC=U2 ;
NET "PBA<38>"            LOC=U1 ;
NET "PBA<39>"            LOC=U6 ;
NET "PBA<40>"            LOC=U5 ;
NET "PBA<41>"            LOC=T9 ;
NET "PBA<42>"            LOC=U4 ;
NET "PBA<43>"            LOC=T7 ;
NET "PBA<44>"            LOC=T3 ;
NET "PBA<45>"            LOC=T5 ;
NET "PBA<46>"            LOC=R8 ;
NET "PBA<47>"            LOC=R7 ;
NET "PBA<48>"            LOC=R3 ;
NET "PBA<49>"            LOC=R5 ;
NET "SCL"                LOC=V5 ;
NET "SDA"                LOC=U7 ;
NET "USB_D<0>"           LOC=AE17 ;
NET "USB_D<1>"           LOC=U15 ;
NET "USB_D<2>"           LOC=AD17 ;
NET "USB_D<3>"           LOC=Y15 ;
NET "USB_D<4>"           LOC=AC24 ;
NET "USB_D<5>"           LOC=AF19 ;
NET "USB_D<6>"           LOC=AE19 ;
NET "USB_D<7>"           LOC=AF20 ;
NET "USB_FIFOADR0"       LOC=AA17 ;
NET "USB_FIFOADR1"       LOC=AD25 ;
NET "USB_FIFOADR2"       LOC=AA18 ;
NET "USB_FLAGA"          LOC=AC17 ;
NET "USB_FLAGB"          LOC=AB17 ;
NET "USB_FLAGC"          LOC=AA20 ;
NET "USB_FLAGD_CS_N"     LOC=AE20 ;
NET "USB_IFCLK"          LOC=V14 ;
NET "USB_INT_N"          LOC=AF22 ;
NET "USB_PKTEND"         LOC=AE21 ;
NET "USB_RD_N"           LOC=U16 ;
NET "USB_READY"          LOC=R24 ;
NET "USB_RESET_N"        LOC=V17 ;
NET "USB_SLOE"           LOC=AB18 ;
NET "USB_VBUS"           LOC=AC18 ;
NET "USB_WR_N"           LOC=U18 ;
NET "RS485_RX_EN"        LOC=A3 ;
NET "RS485_RXD"          LOC=D7 ;
NET "RS485_TX_EN"        LOC=L10 ;
NET "RS485_TXD"          LOC=B3 ;
NET "ADC_CLK"            LOC=B13 ;
NET "ADC_CS"             LOC=G3 ;
NET "ADC_DOUT"           LOC=F2 ;
NET "ADC_DIN"            LOC=J1 ;
NET "DAC_CLK"            LOC=C13 ;
NET "DAC_CS"             LOC=J7 ;
NET "DAC_DOUT"           LOC=H2 ;
NET "LED_R<0>"           LOC=V19 ;
NET "LED_R<1>"           LOC=V21 ;
NET "LED_R<2>"           LOC=Y22 ;
NET "LED_R<3>"           LOC=Y21 ;
NET "LED_R<4>"           LOC=V11 ;
NET "LED_R<5>"           LOC=AC9 ;
NET "LED_R<6>"           LOC=R9 ;
NET "LED_R<7>"           LOC=P1 ;
NET "LED_G<0>"           LOC=Y24 ;
NET "LED_G<1>"           LOC=Y23 ;
NET "LED_G<2>"           LOC=W21 ;
NET "LED_G<3>"           LOC=AC25 ;
NET "LED_G<4>"           LOC=W12 ;
NET "LED_G<5>"           LOC=AE10 ;
NET "LED_G<6>"           LOC=P3 ;
NET "LED_G<7>"           LOC=R1 ;
NET "LED_B<0>"           LOC=AB24 ;
NET "LED_B<1>"           LOC=W23 ;
NET "LED_B<2>"           LOC=AC26 ;
NET "LED_B<3>"           LOC=AA23 ;
NET "LED_B<4>"           LOC=AC11 ;
NET "LED_B<5>"           LOC=AA10 ;
NET "LED_B<6>"           LOC=P8 ;
NET "LED_B<7>"           LOC=P2 ;
NET "MIDI_RX"            LOC=C4 ;
NET "MIDI_TX"            LOC=H7 ;
NET "SPDIF_IN"           LOC=AF2 ;
NET "SPDIF_OUT"          LOC=V10 ;
NET "P0_PWM"             LOC=C7 ;
NET "P1_PWM"             LOC=B6 ;
NET "P2_PWM"             LOC=A4 ;
NET "P3_PWM"             LOC=B4 ;
NET "RELAY<0>"           LOC=C6 ;
NET "RELAY<1>"           LOC=C10 ;
NET "RELAY<2>"           LOC=C12 ;
NET "RELAY<3>"           LOC=B12 ;
NET "TFT_BLIGHT"         LOC=AC23 ;
NET "TFT_CS"             LOC=AC16 ;
NET "TFT_RD"             LOC=AD20 ;
NET "TFT_RS"             LOC=AF18 ;
NET "TFT_WR"             LOC=AE18 ;
NET "TFT_RESET"          LOC=V15 ;
NET "TFT_DB<0>"          LOC=AD14 ;
NET "TFT_DB<1>"          LOC=AB15 ;
NET "TFT_DB<2>"          LOC=AE12 ;
NET "TFT_DB<3>"          LOC=AE15 ;
NET "TFT_DB<4>"          LOC=AF23 ;
NET "TFT_DB<5>"          LOC=AC15 ;
NET "TFT_DB<6>"          LOC=AC14 ;
NET "TFT_DB<7>"          LOC=AC12 ;
NET "TFT_DB<8>"          LOC=AC21 ;
NET "TFT_DB<9>"          LOC=AD22 ;
NET "TFT_DB<10>"         LOC=AC19 ;
NET "TFT_DB<11>"         LOC=Y17 ;
NET "TFT_DB<12>"         LOC=AD19 ;
NET "TFT_DB<13>"         LOC=W17 ;
NET "TFT_DB<14>"         LOC=AB16 ;
NET "TFT_DB<15>"         LOC=W15 ;
NET "TFT_TSC_BUSY"       LOC=W26 ;
NET "TFT_TSC_CLK"        LOC=Y13 ;
NET "TFT_TSC_CS_N"       LOC=AB26 ;
NET "TFT_TSC_DOUT"       LOC=AD26 ;
NET "TFT_TSC_DIN"        LOC=W25 ;
NET "TFT_TSC_IRQ_N"      LOC=AE25 ;
NET "SPEAKER"            LOC=P10 ;
NET "IR_RXD"             LOC=W13 ;
NET "IR_TXD"             LOC=Y12 ;
NET "DIG_MIC_CLK"        LOC=Y9 ;
NET "DIG_MIC_DATA"       LOC=Y10 ;
NET "SPAREIO1"           LOC=W9 ;
NET "SPAREIO2"           LOC=W10 ;
